@import './Misc/Pallette.css';

html {
  margin: 0;
  min-height: 100%;
}

body {
  padding: 16px 64px;
  min-height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}