.vscode/

# Haskell
.stack-work/
*~
dist-newstyle/

# Python
__pycache__/
.mypy_cache/
.coverage

# Assembly
*.lst
*.obj
*.exe
*.out

# C++
*.gch
coverage-cc-html/

# Qt
qt-build-output/

# Java
*.class
