<h1>Package Manager</h1>

<nav>
  <a routerLink="/packages" routerLinkActive="active">View Packages</a>
  <a routerLink="/add-package" routerLinkActive="active">Add Package</a>
  <a routerLink="/update-package" routerLinkActive="active">Update Package</a>
  <a routerLink="/delete-package" routerLinkActive="active">Delete Package</a>
  <br/>
  <a routerLink="/maintainers" routerLinkActive="active">View Maintainers</a>
  <a routerLink="/add-maintainer" routerLinkActive="active">Add Maintainer</a>
  <a routerLink="/update-maintainer" routerLinkActive="active">Update Maintainer</a>
  <a routerLink="/delete-maintainer" routerLinkActive="active">Delete Maintainer</a>
  <br/>
  <a routerLink="/package-maintainers" routerLinkActive="active">View Package Maintainers</a>
  <a routerLink="/add-package-maintainer" routerLinkActive="active">Add Package Maintainer</a>
  <a routerLink="/delete-package-maintainer" routerLinkActive="active">Delete Package Maintainer</a>
  <br/>
  <a routerLink="/package-versions" routerLinkActive="active">View Package Versions</a>
  <a routerLink="/add-package-version" routerLinkActive="active">Add Package Version</a>
  <a routerLink="/delete-package-version" routerLinkActive="active">Delete Package Version</a>
</nav>

<router-outlet></router-outlet>
