@{
    ViewData["Title"] = "Assign Player";
}

<form action="/Home/AssignPlayer" method="POST">
  Player: <input type="text" name="player"/> <br/>
  Teams: <input type="text" name="teams" /> <br/>
  <input type="submit" value="Assign Player"/>
</form>
