@{
    ViewData["Title"] = "Add Document";
}

<form action="/Home/AddDoc" method="POST">
  Name: <input type="text" id="name" name="name"/> <br/>
  Contents: <input type="text" id="contents" name="contents" /> <br/>
  <input type="submit" value="Add Document"/>
</form>
