<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>snake.controller.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeMove</servlet-name>
    <servlet-class>snake.controller.MakeMove</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MakeMove</servlet-name>
    <url-pattern>/MakeMove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GameOver</servlet-name>
    <servlet-class>snake.controller.GameOver</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GameOver</servlet-name>
    <url-pattern>/GameOver</url-pattern>
  </servlet-mapping>
</web-app>
