@{
    ViewData["Title"] = "Delete Publishing House";
}

<form action="/Home/DeletePublishingHouse" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name"/>

  <input type="submit" value="Delete Publishing House"/>
</form>
