p {
  font-size: large;
}

h1 {
  text-align: center;
  font-size: 75px;
  color: rgb(55, 55, 243);
  font-family: Fira Code;
}

.submit {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 10px;
}

#data-table {
  font-family: Fira Code;
  border-collapse: collapse;
  width: 100%;
}

#data-table td,
#data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-table tr {
  background-color: #f2f2f2;
}

#data-table tr:hover {
  background-color: #ddd;
}

#data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #060746;
  color: white;
}

label {
  font-size: larger;
}

div.settings {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
